// body {
//   font-family: "Outfit";
//   color: #ffffff;
//   font-style: normal;
// }

.main-body {
  background-color: #01052f;
  height: 4113px;
  width: 100%;
  position: relative;
  font-family: "Outfit";
  color: #ffffff;
  font-style: normal;
}
.inner-body {
  padding: 0 200px;
}
.navbar {
  position: relative;
  // width: 1066px;
  // left: 187px;
  height: 7rem;
  top: 60px;
  display: flex;
  justify-content: space-between;
}
.navbar-title {
  font-weight: 500;
  line-height: 28px;
}

.navbar-items {
  display: flex;
  justify-content: space-between;

  h4 {
    margin: 25px;
    height: 28px;
    font-weight: 400;
  }
}

.part-1 {
  display: flex;
  position: relative;
  // left: 187px;
  // height: 100%;
  width: 100%;

  .float-left {
    float: left;
    width: 45%;
    h1 {
      display: flex;
      position: relative;
      width: 473px;
      height: 275px;
      top: 10px;
      font-size: 85px;
      // margin: 20px;
    }
    h3 {
      width: 315px;
      font-weight: 400;
      line-height: 25px;
    }
  }
  .float-right {
    width: 55%;

    img {
      width: 340px;
      margin: 30px 0 0 80px;

      // height: 40px;
    }
  }
}
.buttons {
  .button {
    height: 55px;
    width: 220px;
    background-color: #8c8cda;
    border-radius: 40px;
    color: #ffffff;
    font-size: 20px;
  }
  span {
    padding: 15px 60px;
    border: 1px solid #95d1d1;
    border-radius: 40px;
    font-size: 20px;
    margin: 10px;
  }
}
.part-2 {
  display: flex;
  position: relative;
  // left: 187px;
  margin: 7rem 0;
  flex-direction: column;
  width: 100%;
  span {
    font-size: 18px;
  }
  .box {
    margin-top: 20px;
    height: 90px;
    border-radius: 5px;
    // width: 100%;
    background-color: #6359b630;
    display: flex;
    justify-content: space-between;

    img {
      height: 50px;
      width: 15%;
      margin: 20px 50px;
    }
  }
}
.part-3 {
  display: flex;
  position: relative;
  padding-top: 3rem;
  // left: 187px;
  width: 100%;
}
.left-part {
  width: 40%;
  img {
    height: 400px;
    margin: 0 20px 20px 20px;
  }
}
.right-part {
  // width: 60%;
  h1 {
    width: 76%;
    font-size: 57px;
    margin: 0 5px;
  }
  h5 {
    font-weight: 500;
    width: 57%;
    margin: 20px 0;
    font-size: 20px;
    line-height: 28px;
  }
  button {
    height: 55px;
    width: 340px;
    background-color: #8c8cda;
    border-radius: 40px;
    color: #ffffff;
    font-size: 18px;
    margin-top: 15px;
  }
}
.part-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 10rem;
  h3 {
    color: #a3d9d9;
    margin: 0;
  }
  h1 {
    width: 30%;
  }
}
.part-5{
  display: flex;
  flex-direction: column;
  justify-content: center;

  // img{
   
  // }
  
  .box{
    background-color:#13124F;

   img{
    // background: url('../../assets/Images/svgs/Jessica.svg');
    // background-repeat: no-repeat;
    // background-color:#13124F;
    display: flex;
    margin: 0 100px;
   width: 130px;
height: 130px;
border-radius: 100px;
mix-blend-mode: luminosity;
   }
   .boxs{
    width: 30%;
    height: 20%;
    // margin-top: 50px;
   }

}

 
}
