.main_circle_bg {
  //   background: url(../../assets/Images/svgs/BG_Circles.png) !important;
  img {
    width: 100vw;
    height: 1300px;
    opacity: 0.3;
    background-color: transparent !important;
  }
  position: absolute;
  left: 0px;
  top: 0px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent !important;
}
