.navbar {
  padding-top: 40px !important;
  display: flex !important;
  justify-content: space-between !important;
  .navbar-brand {
    color: #ffffff !important;
  }
  .nav-link {
    color: #ffffff !important;
  }
}
