.anaylze {
  margin: 70px 0;
  color: #ffffff;
  .content-item {
    padding-top: 60px;
    h3 {
      color: #a3d9d9;
    }
    h1 {
      width: 76%;
      font-size: 57px;
    }
    h5 {
      font-weight: 500;
      width: 63%;
      margin: 20px 0;
      line-height: 30px;
    }
    .pricing {
      width: 40%;
      background-color: #8c8cda;
      border-radius: 40px;
      color: #ffffff;
      font-size: 18px;
    }
  }
}
